;; shadow-cljs configuration
{:lein true
  :nrepl {:port 9000}
 :socket-repl false
 :source-paths ["src"]
 :builds {:app {:target :browser
                :modules {:main {:entries [resume.index]
                                 :init-fn resume.browser/init}}
                :asset-path "/js"
                :output-dir "public/js"
                #_#_:devtools {:watch-dir "resources/public"}}}
 :dev-http
 {8020 "public"}}