{:lint-as {rum.core/defcs clojure.core/def
           rum.core/defc clojure.core/def
           spade.core/defclass clojure.core/def
           spade.core/defattrs clojure.core/def
           spade.core/defkeyframes clojure.core/def}
 :linters {:unresolved-symbol {:exclude [(rum.core/defcs)]}}}